/*whole body*/
body {
    background-image: url("../Pictures/aboutBackground.jpg");
    background-position: center;
    background-size: cover;
    
    margin: 0;
    padding: 0;
}


/*navigation*/
nav a{
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

#logo{
    font-size: 2em;
}

#navPages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(41, 117, 179);
    color: #fff;
}

#menu{
    display: flex;
    gap: 1em;
}

/*
nav ul {
    list-style-type: none;
}*/

nav li{
    list-style: none;
    padding: 1em 1em;
}

#menu li:hover {
    background-color: rgb(17, 132, 226);
    border-radius: 1em;
    transition: 0.3s ease;
}

/*responsive navigation*/
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
#hamburger {
    display: none;
    font-size: 1em;
    
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 900px) {
#menu { 
    display:none;
    position: absolute;
    background-color:rgb(41, 117, 179);
    top: 5.5em ;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}
#menu li:hover {
    
    background-color:rgb(41, 117, 179);
    
}
#menu li + li {
    margin-top: 1em;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
#hamburger {
    display: block;
}
}

/*header*/
header{

    color: lightcoral;
    padding: 2em ;
}



/*actual content*/
.content{
    padding: 2em ;
}

.titles{
    font-weight: bold;
    font-size: 2em ;

}

#left_right_container{
    display: flex ;
    flex-wrap: wrap;
}



/*picture*/
#profilePic {
    width: 10%;
    height: auto;
    padding: 2em ;
}


.textContenct{
    width: 30% ;
    padding: 2em ;
}




@media
only screen and (max-width: 1500px) {
    article {
        font-size: 1.75em ;
    }
}

@media
only screen and (max-width: 1000px) {
    article {
        font-size: 1.25em ;
    }
}

@media
only screen and (max-width: 500px) {
    article {
        font-size: 1em ;
    }
}