/*whole body*/
body {
    background-position: center;
    background-size: cover;

    margin: 0;
    padding: 0;

}

/*navigation*/
nav a{
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

#logo{
    font-size: 2em;
}

#navPages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(41, 117, 179);
    color: #fff;
}

#menu{
    display: flex;
    gap: 1em;
}

/*
nav ul {
    list-style-type: none;
}*/

nav li{
    list-style: none;
    padding: 1em 1em;
}

#menu li:hover {
    background-color: rgb(17, 132, 226);
    border-radius: 1em;
    transition: 0.3s ease;
}

/*responsive navigation*/
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
#hamburger {
    display: none;
    font-size: 1em;
    
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 900px) {
#menu { 
    display:none;
    position: absolute;
    background-color:rgb(41, 117, 179);
    top: 5.5em ;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}
#menu li:hover {
    
    background-color:rgb(41, 117, 179);
    
}
#menu li + li {
    margin-top: 1em;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
#hamburger {
    display: block;
}
}









#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

/*display section*/
#displayContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1em;
    font-size: 3em;

    
}

#result{
    
}

/*button section*/
#keysContainer{
    display: grid;
    margin-bottom: 1em;

    border: 0.1em solid rgb(12, 3, 3);
}

.keyButton{
    width: 4em ;
    height: 4em ;
    font-size: 1.7em;
    
    margin: 0.1em ;
}

button:hover {
    cursor: pointer;
}

#backPic{
    width: 2.5em ;
    height: auto;
    
}





/*responsivesnees*/
@media
only screen and (max-width: 1500px) {
    #displayContainer{
        font-size: 3em;
    }
    .keyButton{
        width: 4em ;
        height: 4em ;
        font-size: 1.7em;
    }
    #backPic{
        width: 2.5em ;
        height: auto;
    }
}

@media
only screen and (max-width: 1000px) {
    #displayContainer{
        font-size: 2.5em;
    }
    .keyButton{
        width: 3.5em ;
        height: 3.5em ;
        font-size: 1.6em;
    }
    #backPic{
        width: 2em ;
        height: auto;
    }
}

@media
only screen and (max-width: 500px) {
    #displayContainer{
        font-size: 2em;
    }
    .keyButton{
        width: 3em ;
        height: 3em ;
        font-size: 1.5em;
    }
    #backPic{
        width: 1.5em ;
        height: auto;
    }
}