/*body*/
body {
    background-position: center;
    background-size: cover;

    margin: 0;
    padding: 0;
}

/*navigation*/
nav a{
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

#logo{
    font-size: 2em;
}

#navPages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(41, 117, 179);
    color: #fff;
}

#menu{
    display: flex;
    gap: 1em;
}

/*
nav ul {
    list-style-type: none;
}*/

nav li{
    list-style: none;
    padding: 1em 1em;
}

#menu li:hover {
    background-color: rgb(17, 132, 226);
    border-radius: 1em;
    transition: 0.3s ease;
}

/*responsive navigation*/
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
#hamburger {
    display: none;
    font-size: 1em;
    
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 900px) {
#menu { 
    display:none;
    position: absolute;
    background-color:rgb(41, 117, 179);
    top: 5.5em ;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}
#menu li:hover {
    
    background-color:rgb(41, 117, 179);
    
}
#menu li + li {
    margin-top: 1em;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
#hamburger {
    display: block;
}
}



/*content container*/
#content{
    display: flex ;
    align-items: center;
    justify-content: center;
    margin-top: 1em;

    overflow-x:auto ;
    
    
}



/*loading*/
#loading {
    display: flex ;
    align-items: center;
    justify-content: center ;
}


/*covid content table*/
#covid-stats th, td{
    padding: 1em ;
}

#tableContainer{
    overflow-x:auto
}



/*drop down menu*/


#selectLabel{
    font-size: 1.5em;
}

#country-stats{
    font-size: 1.5em;
}



/*responsiveness*/
@media only screen and (max-width: 900px){
    select {
       width: 80%; max-width: 100%;
       margin-left: 0.5em;
    }


    
  }

  @media
  only screen and (max-width: 1300px) {
    table, thead, tbody, th, tr, td {
      display: block;
    }
    
    tr { border: 0.1em solid #ccc; }
    td {
      border-bottom: 0.1em solid #eee;
      position: relative;
      left: 10em ;
    }
    td:before {
      position: absolute;
      top: 1em;
      left: -8em;
      padding-right: 2em;
      
    }
    td:nth-of-type(1):before { content: "Country"; }
    td:nth-of-type(2):before { content: "CountryCode"; }
    td:nth-of-type(3):before { content: "Slug"; }
    td:nth-of-type(4):before { content: "NewConfirmed";}
    td:nth-of-type(5):before { content: "TotalConfirmed";}
    td:nth-of-type(6):before { content: "NewDeaths";}
    td:nth-of-type(7):before { content: "TotalDeaths";}
    td:nth-of-type(8):before { content: "NewRecovered";}
    td:nth-of-type(9):before { content: "TotalRecovered";}
    td:nth-of-type(10):before { content: "Date";}
    
  }




  @media
  only screen and (max-width: 1300px) {
      article {
          font-size: 1.5em ;
      }
  }
  
  @media
  only screen and (max-width: 1000px) {
      article {
          font-size: 1.25em ;
      }
  }
  
  @media
  only screen and (max-width: 500px) {
      article {
          font-size: 1em ;
      }
  }